.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.fontSize-xs {
    font-size: 14px;
}
.fontSize-s {
    font-size: 16px;
}
.fontSize-m {
 font-size: 18px;
}

.background-dark {
    background-color: #282c34;
}

.background-light {
    background-color: white;
}

.color-dark {
    color: #282c34;
}

.color-light {
    color: white;
}

.margin_top-s {
    margin-top: 12px;
}
.margin_top-m {
    margin-top: 14px;
}
.margin_bottom-s {
    margin-bottom: 12px;
}
.margin_bottom-m {
    margin-bottom: 14px;
}
.margin_left-s {
    margin-left: 12px;
}
.margin_left-m {
    margin-left: 14px;
}
.margin_right-s {
    margin-right: 12px;
}
.margin_right-m {
    margin-right: 14px;
}

.padding_top-s {
    padding-top: 12px;
}
.padding_top-m {
    padding-top: 14px;
}
.padding_bottom-s {
    padding-bottom: 12px;
}
.padding_bottom-m {
    padding-bottom: 14px;
}
.padding_left-s {
    padding-left: 12px;
}
.padding_left-m {
    padding-left: 14px;
}
.padding_right-s {
    padding-right: 12px;
}
.padding_right-m {
    padding-right: 14px;
}
